.swipeWrapper {
  .mint-swipe-items-wrap {
    width: 3000px;
    .perSlider {
      color: white;
      position: relative;
      .pContent {
        position: absolute;
        width: 100%;
        @include HorCenter;
        .pbgImg {
          position: relative;

          .Img {
            width: 100%;
          }


        }
        .pDetail {

          .pTime {

          }


          
        }
      }
    }
  }
}
