<!-- <mt-swipe :auto="0" @change="handleChange" :stopPropagation='false' :defaultIndex=0 class="swipeWrapper" :speed=200 >
        <mt-swipe-item class='perSlider'>
          <div class="pContent">
            <div class="pbgImg">
              <img :src="headUrl" class="Img"/>
              <p class="pTitle">历史最高</p>
              <p class="pTarget">快递直营出发收入(万元)</p>
              <div class="close"></div>
            </div>
            <div class="pDetail">
              <p class="pTime">8679.54</p>
              <p class="pDept">荣誉部门</p>
              <div class="pDate">2018年11月11日</div>
              <list :list='listA'></list>
              <div class="part3">
                <p>
                  业绩是否长期优秀, 是我们衡量一个人是不是进取者最为核心的指标、最具有决定性的指标。
                </p>
              </div>
              <div class="shareAndPraise">
                <div class="share">分享</div>
                <div class="praise">459</div>
              </div>
            </div>
          </div>
        </mt-swipe-item>
        <mt-swipe-item class='perSlider'>
          <div class="pContent">
            <div class="pbgImg">
              <img :src="headUrl" class="Img" />
              <p class="pTitle">历史最高</p>
              <p class="pTarget">快递直营出发收入(万元)</p>
              <div class="close"></div>
            </div>
            <div class="pDetail">
              <p class="pTime">8679.54</p>
              <p class="pDept">荣誉部门</p>
              <div class="pDate">2018年11月11日</div>
              <list :list='listA'></list>
              <div class="part3">
                <p>
                  业绩是否长期优秀, 是我们衡量一个人是不是进取者最为核心的指标、最具有决定性的指标。
                </p>
              </div>
              <div class="shareAndPraise">
                <div class="share">分享</div>
                <div class="praise">459</div>
              </div>
            </div>
          </div>
        </mt-swipe-item>
        <mt-swipe-item class='perSlider'>
          <div class="pContent">
            <div class="pbgImg">
              <img :src="headUrl" class="Img" />
              <p class="pTitle">历史最高</p>
              <p class="pTarget">快递直营出发收入(万元)</p>
              <div class="close"></div>
            </div>
            <div class="pDetail">
              <p class="pTime">8679.54</p>
              <p class="pDept">荣誉部门</p>
              <div class="pDate">2018年11月11日</div>
              <list :list='listA'></list>
              <div class="part3">
                <p>
                  业绩是否长期优秀, 是我们衡量一个人是不是进取者最为核心的指标、最具有决定性的指标。
                </p>
              </div>
              <div class="shareAndPraise">
                <div class="share">分享</div>
                <div class="praise">459</div>
              </div>
            </div>
          </div>
        </mt-swipe-item>
    </mt-swipe> -->
